/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/*Import Components Stylesheets*/
@import url("components/banner.css");
@import url("components/cards.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

h1 {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.footer {
  background-color: rgb(44,43,43);
  text-align: center;
  padding: 60px;
}



