
.how-cards-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.how-cards {
  width: 250px;
  height: 250px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgb(210,210,210);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.how-cards img {
  height: 130px;
}
